body {
  padding: 20px;
  font: 14px sans-serif, "Lucida Grande", Helvetica, Arial;
  border: solid 4px #09527f;
}
.icon {
  background: url('/images/grid-icons.png');
  width: 24px;
  height: 24px;
  display: inline-block;
}
.icon .default {
  background-position: -225px -298px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes border-animate {
  from {
    border: solid 2px rgba(255, 0, 0, 0.5);
  }
  to {
    border: solid 2px rgba(255, 237, 0, 0.9);
  }
}
@keyframes border-animate {
  from {
    border: solid 2px rgba(255, 0, 0, 0.5);
  }
  to {
    border: solid 2px rgba(255, 237, 0, 0.9);
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes border-animate-text {
  from {
    color: red;
  }
  to {
    color: yellow;
  }
}
@keyframes border-animate-text {
  from {
    color: red;
  }
  to {
    winner: yellow;
  }
}
a {
  color: #00B7FF;
}
.animate-bet {
  display: none;
  position: absolute;
  width: 127px;
  z-index: 99;
  text-align: center;
}
.right-align {
  text-align: right;
}
.cards-closed-set .playing-card {
  border: solid 1px #97C94D;
}
.dealer {
  width: 100px;
  height: 100px;
  margin: auto;
}
.dealer .icon.icon-large.dealer {
  display: block;
  height: 100px;
  background-position: -420px -149px;
}
.icon-md {
  display: block;
  width: 51px;
  height: 51px;
}
.icon-deal {
  background-position: -563px -456px;
  width: 27px;
  height: 27px;
}
.icon.users {
  background-position: -397px -9px;
}
.icon-user {
  background-position: -325px -517px;
}
.icon-user.white {
  background-position: -330px -542px;
}
.icon-chips {
  background-position: -435px -460px;
}
.logo {
  width: 167px;
  height: 95px;
  display: block;
  background: url('/images/grid-icons.png');
}
.logo.logo-default {
  background-position: -21px -558px;
}
.start-up .main-container {
  margin-top: 20px;
}
.start-up .icon-user {
  width: 34px;
  height: 26px;
  background-position: -325px -517px;
}
.start-up .btn.join .text-cont {
  display: block;
  width: 77px;
  margin: auto;
}
.start-up .btn.join .icon-join {
  width: 18px;
  height: 21px;
  background-position: -404px -541px;
  display: block;
  float: left;
}
.start-up .btn.join .text {
  display: block;
  padding: 0px 8px;
  float: left;
}
.start-up .btn.btn-default {
  padding: 0;
  height: 34px;
}
.start-up .header {
  text-align: center;
}
.start-up .header .logo {
  margin: auto;
}
.start-up .header .title {
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.start-up .header .title .icon {
  width: 50px;
  height: 50px;
  float: left;
}
.start-up .header .title .icon.cards {
  background-position: -329px -321px;
}
.start-up .header .title .text {
  display: block;
  float: left;
  margin: 0px 10px;
  padding: 12px 0px;
}
.play-menu-container .logo {
  margin: auto;
}
.play-menu-container .play-menu-panel .play-menu-header .icon-user {
  width: 25px;
  height: 19px;
  margin-right: 4px;
}
.play-menu-container .play-menu-panel .player-menu-info .icon-chips {
  display: block;
  float: left;
}
.play-menu-container .play-menu-panel .player-menu-info .chips {
  float: left;
  margin: 4px 6px;
}
.play-menu-container .play-menu {
  text-align: center;
}
.play-menu-container .play-menu .menu {
  width: 120px;
  height: 100px;
  margin: 20px;
  word-wrap: break-word;
  white-space: normal;
}
.play-menu-container .play-menu .menu .icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
}
.play-menu-container .play-menu .menu .icon.tournament {
  background-position: -160px -296px;
}
.play-menu-container .play-menu .menu .icon.pub-table {
  background-position: -260px -297px;
}
.play-menu-container .play-menu .menu .icon.pvt-table {
  background-position: -106px -297px;
}
.play-menu-container .play-menu .menu .text {
  margin: -4px 0px;
  display: block;
}
.playing-card {
  width: 70px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
.playing-card.closed {
  background: url('../images/deck-bg.jpg');
}
.playing-card .card {
  position: relative;
  background: white;
  width: 100%;
  height: 100%;
  border: solid 1px #919191;
}
.playing-card .card .icon.spade.icon-small {
  background-position: -10px -345px;
}
.playing-card .card .icon.diamond.icon-small {
  background-position: -90px -345px;
}
.playing-card .card .icon.heart.icon-small {
  background-position: -37px -345px;
}
.playing-card .card .icon.club.icon-small {
  background-position: -65px -345px;
}
.playing-card .card .icon-small {
  width: 25px;
  height: 25px;
  position: absolute;
}
.playing-card .card .icon-small.left {
  top: 23px;
  left: 3px;
}
.playing-card .card .icon-small.right {
  top: 93px;
  right: 0px;
}
.playing-card .card .icon-large {
  width: 44px;
  height: 48px;
  position: absolute;
}
.playing-card .card .icon-large.center {
  top: 44px;
  right: 1px;
}
.playing-card .card .icon.icon-large.spade.Q,
.playing-card .card .icon.icon-large.diamond.Q,
.playing-card .card .icon.icon-large.heart.Q,
.playing-card .card .icon.icon-large.club.Q {
  width: 51px;
  height: 58px;
  top: 35px;
  background-position: -139px -434px;
}
.playing-card .card .icon.icon-large.spade.K,
.playing-card .card .icon.icon-large.diamond.K,
.playing-card .card .icon.icon-large.heart.K,
.playing-card .card .icon.icon-large.club.K {
  width: 51px;
  height: 58px;
  top: 35px;
  background-position: -75px -429px;
}
.playing-card .card .icon.icon-large.spade.J,
.playing-card .card .icon.icon-large.diamond.J,
.playing-card .card .icon.icon-large.heart.J,
.playing-card .card .icon.icon-large.club.J {
  width: 51px;
  height: 58px;
  top: 35px;
  background-position: -14px -425px;
}
.playing-card .card .icon.icon-large.spade {
  background-position: -3px -373px;
}
.playing-card .card .icon.icon-large.diamond {
  background-position: -136px -373px;
}
.playing-card .card .icon.icon-large.heart {
  background-position: -48px -373px;
}
.playing-card .card .icon.icon-large.club {
  background-position: -93px -373px;
}
.playing-card .card .container {
  position: relative;
}
.playing-card .card .text-small {
  position: absolute;
  font-size: 20px;
  width: 20px;
  text-align: center;
  font-weight: bold;
}
.playing-card .card .text-small.right {
  top: 130px;
  right: 9px;
}
.playing-card .card .text-small.left {
  top: -1px;
  left: 6px;
}
.playing-card .card .text-large {
  width: 68px;
  height: 68px;
  font-size: 21px;
  color: white;
  text-align: center;
  display: block;
  padding: 16px 1px;
}
.table .logo {
  float: right;
}
.table .table-info {
  margin-top: 10px;
  text-align: center;
}
.table .table-info .caption {
  font-weight: bold;
  margin-left: 14px;
}
.table .table-info .value {
  margin-left: 4px;
}
.table .table-center {
  position: relative;
}
.table .table-center .general-notification {
  position: absolute;
  width: 100%;
  top: 128px;
  z-index: 99;
}
.table.play .winner-text {
  font-size: 17px;
  color: green;
  position: absolute;
  text-align: center;
  top: -38px;
  display: none;
}
.table.play .seat {
  height: 130px;
  position: relative;
}
.table.play .seat.main {
  height: 175px;
}
.table.play .invite .text {
  text-align: center;
  display: block;
}
.table.play .invite .icon {
  margin: auto;
}
.table.play .player-info {
  text-align: center;
}
.table.play .side-player-outer {
  width: 120px;
  height: 112px;
  margin: auto;
  padding: 10px;
}
.table.play .side-player-outer.winner {
  border: solid 2px orange;
  -webkit-animation: border-animate 3s infinite;
  /* Chrome, Safari, Opera */
  animation: border-animate 3s infinite;
}
.table.play .side-player-outer.winner .winner-text {
  display: block;
  -webkit-winner: border-animate-text 2s infinite;
  /* Chrome, Safari, Opera */
  animation: border-winner-text 2s infinite;
  font-size: 14px;
  top: -34px;
  width: 88px;
}
.table.play .side-player-outer.inactive,
.table.play .side-player-outer.packed {
  opacity: .4;
}
.table.play .side-player-outer.turn {
  border: solid 2px orange;
  -webkit-animation: border-animate 3s infinite;
  /* Chrome, Safari, Opera */
  animation: border-animate 3s infinite;
}
.table.play .side-player-container {
  border: solid 1px #e2e2e2;
  padding: 7px;
  width: 100%;
  height: 100%;
  position: relative;
}
.table.play .side-player {
  height: 100%;
}
.table.play .side-player.left .icon-deal {
  position: absolute;
  top: -26px;
  left: -21px;
}
.table.play .side-player.right .icon-deal {
  position: absolute;
  top: -27px;
  left: 89px;
}
.table.play .side-player .player-info .pic {
  position: absolute;
  width: 70px;
  height: 50px;
  border: solid 1px #e2e2e2;
  top: 18px;
  left: 12px;
  background-position: -668px -140px;
}
.table.play .side-player .player-info .last-action {
  top: 91px;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}
.table.play .side-player .player-info .name {
  position: absolute;
  top: 0;
  height: 23px;
  width: 100%;
  overflow: hidden;
}
.table.play .side-player .player-info .last-bet {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.table.play .side-player.left .cards {
  left: -85px;
}
.table.play .side-player.right .cards {
  left: 91px;
}
.table.play .side-player .cards {
  width: 147px;
  height: 60px;
  bottom: 26px;
}
.table.play .side-player .cards .cards-set {
  height: 70px;
}
.table.play .side-player .cards .see-cards {
  display: none;
}
.table.play .side-player .playing-card {
  width: 50px;
  height: 70px;
}
.table.play .side-player .playing-card .card {
  zoom: 0.69;
}
.table.play .side-show-actions {
  margin-top: 10px;
  height: 44px;
  text-align: center;
  margin: auto;
}
.table.play .side-show-actions button {
  margin: 4px;
}
.table.play .side-show-actions .side-show-message {
  display: inline-block;
  margin: 4px;
}
.table.play .actions {
  margin-top: 10px;
  height: 44px;
  text-align: center;
  margin: auto;
}
.table.play .actions button {
  margin: 4px;
}
.table.play .actions .bet-value {
  width: 100px;
  display: inline-block;
  margin: 4px;
}
.table.play .cards {
  position: absolute;
  right: -58px;
  bottom: 26px;
  width: 147px;
  height: 109px;
}
.table.play .cards .cards-set {
  position: relative;
  width: 100%;
  height: 109px;
  z-index: 10;
}
.table.play .cards .cards-set .see-cards {
  z-index: 11;
  bottom: 20px;
  left: 53px;
  position: absolute;
}
.table.play .current-player-outer {
  width: 296px;
  height: 136px;
  margin: auto;
}
.table.play .current-player-outer .icon-deal {
  top: -22px;
  position: absolute;
  left: -20px;
}
.table.play .current-player-outer.winner {
  border: solid 2px orange;
  -webkit-animation: border-animate 3s infinite;
  /* Chrome, Safari, Opera */
  animation: border-animate 3s infinite;
}
.table.play .current-player-outer.winner .winner-text {
  display: block;
  -webkit-animation: winner-animate-text 2s infinite;
  /* Chrome, Safari, Opera */
  animation: winner-animate-text 2s infinite;
  width: 251px;
}
.table.play .current-player-outer.inactive,
.table.play .current-player-outer.packed {
  opacity: .4;
}
.table.play .current-player-outer.turn {
  border: solid 2px orange;
  -webkit-animation: border-animate 3s infinite;
  /* Chrome, Safari, Opera */
  animation: border-animate 3s infinite;
}
.table.play .current-player-outer .current-player {
  position: relative;
  border: solid 1px #e2e2e2;
  padding: 10px;
  height: 116px;
  margin: 10px;
}
.table.play .current-player-outer .current-player.winner .winner-text {
  display: block;
}
.table.play .current-player-outer .current-player .info {
  height: 50px;
}
.table.play .current-player-outer .current-player .info .last-action {
  height: 20px;
}
.table.play .current-player-outer .current-player .info .last-action,
.table.play .current-player-outer .current-player .info .name {
  display: block;
  margin-left: 5px;
}
.table.play .current-player-outer .current-player .info .icon-chips {
  float: left;
}
.table.play .current-player-outer .current-player .info .chips {
  float: left;
  display: block;
  margin: 3px;
}
.table.play .current-player-outer .current-player .pic {
  height: 94px;
  width: 100px;
  border: solid 1px #e2e2e2;
  display: block;
  float: left;
  background-position: -477px 1px;
}
.table.play .current-player-outer .current-player .text-info {
  margin-left: 5px;
  padding-top: 30px;
  width: 140px;
  float: left;
}
.table.play .table-bet {
  top: 62px;
  padding: 10px;
  height: 92px;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 145px;
}
.table.play .table-bet .bet-info {
  display: none;
}
.table.play .table-notifications {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
}
.table.play .table-notifications-info .text-message {
  text-align: center;
}
.table.play .table-notifications-info .notification {
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}
.table.play .table-dealer {
  padding: 10px;
  height: 97px;
  margin: auto;
  text-align: center;
}
