doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    block scripts
      script(src='javascripts/vendor/jquery-1.10.2.js')
      script(src='javascripts/vendor/bootstrap.js')
      script(src='javascripts/vendor/angular-1.2.0.js')
      script(src='javascripts/vendor/ui-bootstrap-0.12.0.min.js')
      script(src='javascripts/vendor/angular-ui-router.js')
      script(src='/socket.io/socket.io.js')
      script(src='javascripts/main.js')
  body(class=pagename,ng-app='teenPatti')
    div#main(ng-controller='mainCtrl')
      div#ajax-targ(ui-view="") 
          block content